<div id="event-screen">

  <h2>Events</h2>

  <a href="/events/new">
    <button class="btn">Add Event</button>
  </a>

  <br />
  <br />

  {{#each events}}
    <div>
      <h3>{{name}}</h3>
      <p>{{location}}</p>
      <img class="event-img" src="{{imageUrl}}" alt="event" />
      <p>{{description}}</p>
      <p>added by: {{owner.userName}}</p>

      <form action="/users/profile/save-event/{{_id}}" method="post">
        <button class="btn" type="submit">Save Event</button>
      </form>

      <a href="/events/event-details/{{_id}}">Event Details</a>

      <hr />
    </div>
  {{/each}}
</div>