<div id="event-details-screen">

  <h3>{{event.name}}</h3>
  <img class="event-img" src={{event.imageUrl}} />
  <p>{{event.description}}</p>
  <p>{{event.location}}</p>
  <p>created by: {{event.owner.userName}}</p>

  {{#if canEdit}}

    <a href="/events/edit/{{event._id}}">
        <button class="btn">Edit Event</button>
    </a>
   
    <a href="/events/delete/{{event._id}}">
        <button class="btn">Delete Event</button>
    </a>
    

  {{/if}}

  <a href="/events/all-events">
    <button class="btn">Back</button>
  </a>

  <hr />

  {{#unless canEdit}}

    <h4>Leave a comment</h4>
    <form id="comment" action="/comment/new/{{event._id}}" method="post">
      <label for="comment">Comment:</label>
      <input type="text" name="comment" id="comment" />
      <button class="btn" type="submit">Submit Comment</button>
    </form>

  {{/unless}}

  {{#if comments}}

    {{#each comments}}

      <h6>- {{user.userName}}</h6>
      <p>{{comment}}</p>
      {{#if canDelete}}
      <a href="/comment/delete/{{_id}}">❌</a>
      {{/if}}
      <hr>

    {{/each}}

  {{else}}

    <p>No comments yet</p>

  {{/if}}
</div>