<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
  <link rel="stylesheet" href="/stylesheets/all-posts.css" />
</head>

<div id="community-screen">

  <h1><span class="community-title">Community </span>Forum</h1>

  <a href="/community/new">
    <button class="btn">Add Post</button>
  </a>

  <br />
  <br />

  {{#each posts}}
    <div id="post-box-container">
      <div class="card">
        <div class="username-location-text">

          <img
            class="profile-image"
            src="https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png"
            alt="profile-img"
          />
          <p>{{owner.userName}}</p>
          <br class="pre-line" />
          <p>{{location}}</p>
        </div>

        {{! <div id="post-box"> ***post-box ID turned off for now***  }}

        <a href="/community/post-details/{{_id}}">
          <img class="post-img" src="{{imageUrl}}" alt="event" />
        </a>

        <div class="caption-text">
          <h5><b>{{name}}</b></h5>
          <p>{{description}}</p>
        </div>
        {{! <hr /> }}
      </div>
    </div>
  {{/each}}

</div>