<div id="community-screen">

  <h2>Community</h2>

  <a href="/community/new">
    <button class="btn">Add Post</button>
  </a>

  <br>
  <br>
  
  {{#each posts}}
    <div>
      <h3>{{name}}</h3>
      <p>{{location}}</p>
      <a href="/community/post-details/{{_id}}">
        <img class="event-img" src="{{imageUrl}}" alt="event" />
      </a>
      <p>{{description}}</p>
      <p>posted by: {{owner.userName}}</p>
      <hr />
    </div>
  {{/each}}

</div>