<div id="community-screen">

  <h2>Community</h2>

  {{#each posts}}
    <div>
      <h3>{{name}}</h3>
      <p>{{location}}</p>
      <img class="event-img" src="{{imageUrl}}" alt="event" />
      <p>{{description}}</p>
      <p>added by: {{owner.userName}}</p>
      

      <a href="/community/post-details/{{_id}}">Post Details</a>

      <hr />
    </div>
  {{/each}}


  <a href="/community/new">
    <button class="btn">Add Post</button>
  </a>

</div>