<h2>Edit Post</h2>

<form action="/community/edit/{{_id}}" method="post">

  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{name}}" />

  <label for="name">Location:</label>
  <input type="text" name="location" id="location" value="{{location}}"/>

  <label for="description">Description</label>
  <textarea
    name=""
    id="description"
    name="description"
    cols="40"
    rows="8"
    value="{{description}}"
  ></textarea>
  

  <label for="imageUrl">Image</label>
  <input type="text" name="imageUrl" id="imageUrl" value="{{imageUrl}}" />

  <button type="submit">Save Changes</button>

</form>