<div id="event-details-screen">

  <p>{{post.owner.userName}}</p>
  <p>{{post.location}}</p>
  <img class="event-img" src={{post.imageUrl}} />
  <p>{{post.name}}</p>
  <p>{{post.description}}</p>

  {{#if canEditPost}}

    <a href="/community/edit/{{post._id}}">
        <button class="btn">Edit Post</button>
    </a>
    
    <a href="/community/delete/{{post._id}}">
        <button class="btn">Delete Post</button>
    </a>
    

  {{/if}}

  <a href="/community/all-posts">
    <button class="btn">Back</button>
  </a>

  <hr />

  {{#unless canEditPost}}

    <h4>Leave a comment</h4>
    <form id="comment" action="/comment/new/{{post._id}}" method="post">
      <label for="comment">Comment:</label>
      <input type="text" name="comment" id="comment" />
      <button type="submit">Submit Comment</button>
    </form>

  {{/unless}}

  {{#if comments}}
    <h3>Comments</h3>
    {{#each comments}}

      <h6>- {{user.userName}}</h6>
      <p>{{comment}}</p>
      {{#if canDelete}}
      <a href="/comment/delete/{{_id}}">❌</a>
      {{/if}}
      <hr>

    {{/each}}

  {{else}}

    <p>No comments posted</p>

  {{/if}}
</div>