<body class="body-index">

  <div id="home-screen">

    {{!-- <h1>{{title}}</h1> --}}

    {{! <div id="watodoo-logo"> }}
    <img class="watodoo-logo" src="/images/Logo.png" alt="watodoo-logo" />
    {{! </div> }}

    <div id="discover-parent">

      <h1> <span id="discover">Discover</span> <b>your new spot</b></h1>

    </div>

  </div>

  {{! Search Bar }}

  <div id="search-bar">
    <form id=""  action="/search" method="get">
      <label for="search"></label>
      <input
        id="search"
        type="search"
        name="search"
        placeholder="Search for a location"
      />
      <button id="search-button">Search</button>
    </form>

  </div>

  <br />

  {{! Today, Tomorrow, This Week, Weekends  }}

  <div id="events-date">

    <button id="today">Today</button>
    <button id="tomorrow">Tomorrow</button>
    <button id="this-week">This Week</button>
    <button id="weekends">Weekends</button>

  </div>

  <br />

  <div id="box">
    {{#if results}}
        {{#each results}}
    <div id="restaurants-box">
      <div id="restaurants-database">
        <div id="restaurant">
            <img class="home-img" src={{imageSource}} alt="">
          <div id="header">{{restaurantName}}</div>
          {{!-- <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ
            Lolita.</div> --}}
          <div id="address">{{address}}</div>
          {{cityName}}
          {{stateName}}
          {{cuisineType}}
          <div id="date">{{hoursInterval}}</div>

          <button class="btn" type="submit">Save</button>

        </div>
      </div>
    </div>

    <br />
    {{/each}}
    {{/if}}
    {{!-- <div id="restaurants-box">
      <div id="restaurants-database">
        <div id="restaurant">

          <div id="header">Pura Vida</div>
          <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ
            Lolita.</div>
          <div id="address">1756 N Bayshore Dr, Miami.</div>
          <div id="date">Tuesday 3th, 9 am - 8 pm</div>

          <button class="btn" type="submit">Save</button>

        </div>
      </div>
    </div>

    <br />

    <div id="restaurants-box">
      <div id="restaurants-database">
        <div id="restaurant">

          <div id="header">Pura Vida</div>
          <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ
            Lolita.</div>
          <div id="address">1756 N Bayshore Dr, Miami.</div>
          <div id="date">Tuesday 3th, 9 am - 8 pm</div>

          <button class="btn" type="submit">Save</button>

        </div>
      </div>
    </div>

    <br />

    <div id="restaurants-box">
      <div id="restaurants-database">
        <div id="restaurant">

          <div id="header">Pura Vida</div>
          <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ
            Lolita.</div>
          <div id="address">1756 N Bayshore Dr, Miami.</div>
          <div id="date">Tuesday 3th, 9 am - 8 pm</div>

          <button class="btn" type="submit">Save</button>

        </div>
      </div>
    </div>

    <br />

    <div id="restaurants-box">
      <div id="restaurants-database">
        <div id="restaurant">

          <div id="header">Pura Vida</div>
          <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ
            Lolita.</div>
          <div id="address">1756 N Bayshore Dr, Miami.</div>
          <div id="date">Tuesday 3th, 9 am - 8 pm</div>

          <button class="btn" type="submit">Save</button>

        </div>
      </div>
    </div>

    <br />

    <div id="restaurants-box">
      <div id="restaurants-database">
        <div id="restaurant">

          <div id="header">Pura Vida</div>
          <div id="event">Amazing Avocado Day Brunch with DJ Franco and DJ
            Lolita.</div>
          <div id="address">1756 N Bayshore Dr, Miami.</div>
          <div id="date">Tuesday 3th, 9 am - 8 pm</div>

          <button class="btn" type="submit">Save</button>

        </div>
      </div>
    </div> --}}

  </div>

</body>