<div id="profile-screen">
  <h1>My Profile:</h1>
  <h2>{{user.userName}}</h2>
  <h6>{{user.fullName}}</h6>
  <h2>{{user.profileImage}}</h2>

  <form action="/users/edit-profile/{{user._id}}" method="get">

    <h3>Bio: {{user.bio}}</h3>
    {{#if user.savedEvents}}
      <h3>Saved Events:</h3>
      {{#each user.savedEvents}}
        <p>{{name}}</p>
        <a href="/events/event-details/{{_id}}" target="">
        <img class="event-img" src="{{imageUrl}}" alt="Event Image" />
        </a>
      {{/each}}
    {{/if}}

    {{#if events}}

      <h3>My Events:</h3>

      {{#each events}}

        <h5>{{name}}</h5>
        <a href="/events/event-details/{{_id}}" target="">
          <img class="event-img" src="{{imageUrl}}" alt="Event Image" />
        </a>
        <br />

      {{/each}}

    {{else}}

      <a href="/events/new">Create an event</a>

    {{/if}}

    <h3>My Posts:</h3>
    {{#each posts}}

      <h5>{{name}}</h5>
      <a href="/community/post-details/{{_id}}" target="">
        <img class="event-img" src="{{imageUrl}}" alt="Post Image" />
      </a>
      <br />
    {{/each}}

    <br />
    <br />

    <a href="/users/edit-profile/{{user._id}}" class="button-link">
      <button class="btn" type="button">Edit Profile</button>
    </a>
  </form>

</div>