<div id="profile-screen">
  <h1>My Profile:</h1>
  <h2>{{userName}}</h2>
  <h2>{{profileImage}}</h2>

  <form action="/users/edit-profile/{{_id}}" method="get">

    <h3>Bio: {{bio}}</h3>

    <h3>Saved Events:</h3>

    {{#if events}}

  <h3>My Events:</h3>

  {{#each events}}

    {{name}}
    

  {{/each}}

{{else}}

  <a href="/events/new">Create an event</a>

{{/if}}

    <h3>My Comments:</h3>

    <a href="/users/edit-profile/{{_id}}" class="button-link">
      <button type="button">Edit Profile</button>
    </a>
  </form>

</div>